.jumbotron {
  padding: 15rem 1rem;
  background: url(../img/Banner.jpg);
  background-size: cover;
  color: black;
}

.jumbotron p {
  font-size: 30px;
}

.jumbotron h1 {
  font-weight: bold;
  font-size: 80px;
}

/* .card .card-body {
  margin-bottom: 50px;
  padding-top: 100px;
} */



.footer1 {
  height: 80px;
  padding-top: 30px;
}
.footer1 a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}
footer a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}
